<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="User" type="persistence.dto.UserDTO"/>
        <typeAlias alias="Admin" type="persistence.dto.AdminDTO"/>
        <typeAlias alias="Apart_price_indices" type="persistence.dto.Apart_price_indicesDTO"/>
        <typeAlias alias="Apart_transaction" type="persistence.dto.Apart_transactionDTO"/>
        <typeAlias alias="Favorite" type="persistence.dto.FavoriteDTO"/>
        <package name="mapper"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/database?"/>
                <property name="username" value="root"/>
                <property name="password" value="1031324na"/>
            </dataSource>

        </environment>
    </environments>
    <mappers>
        <mapper resource="sqlmapper/User.xml"/>
        <mapper resource="sqlmapper/Admin.xml"/>
        <mapper resource="sqlmapper/Favorite.xml"/>
        <mapper resource="sqlmapper/Apart_price_indices.xml"/>
        <mapper resource="sqlmapper/Apart_transaction.xml"/>
    </mappers>
</configuration>
